@model String
@using AlwaysMoveForward.PointChart.Web.Code.Utilities 
<div class="loginDiv" >
    <div id="loginFormsDiv">
        @if (this.Context.User != null && this.Context.User.Identity.IsAuthenticated == false)
        {
            <form id='loginForm' action="@Utils.GetSecureURL("/User/Login", HttpContext.Current.Request.Url.Authority)" method='post'>
                <div>
                    <span>
                        <input type="submit" class="btn btn-sm btn-info" id="submitLoginButton" value="log in" />
                    </span>
                </div>
                <br />
            </form>
        }
        else
        {
            <form id='logoutForm' action="@Utils.GetSecureURL("/User/Logout", HttpContext.Current.Request.Url.Authority)" method='post'>
                <span class="loginLabel">Hello</span>&nbsp;<a href='@Utils.GetInSecureURL("User/Preferences", HttpContext.Current.Request.Url.Authority)'>@this.Context.User.Identity.Name</a>
                <button type="button" class="btn btn-sm btn-info" id="submitLogoutButton" onclick="SiteLogin.SubmitLogout();">log out</button>
            </form>
        }
    </div>
    <div id="forgotPasswordFormDiv" style="display:none">
        <form id="forgotPasswordForm" action='@Utils.GetInSecureURL("/User/ForgotPassword", HttpContext.Current.Request.Url.Authority)' method="post">
            <span class="loginLabel">Enter your email address and a new password will be sent to you.</span>
            <input type="text" id="userEmail" name="userEmail" />
            <input type="button" id="submitForgotPasswordButton" value="submit" onclick="SiteLogin.SubmitForgotPassword();" />
        </form>
    </div>
</div>